

# Ignore Hugo configuration files
/config.toml
/config.yaml
/config.json

# Ignore macOS system files
.DS_Store

# Ignore compiled files
*.exe
*.dll
*.out

# Ignore temporary files
*.tmp
*.log

# Ignore Hugo cache files
/resources/_gen
/resources/_template_cache

# Ignore environment-specific files
.env
