
body::-webkit-scrollbar{
  display: none;
}
body::-webkit-scrollbar-thumb, body::-webkit-scrollbar-track{
  background-color: #f1f1f1 !important;
}

body {
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
    margin: 0 auto;
    padding: 0;
    font-family: sans-serif;
    height: 100vh;
    width: 100vw;
    background-color: #f1f1f1;
    color: $black;
    scrollbar-width: none;
    
  }

  h1, h2, h3, h4, h5, h6, p, li, ul, ol{
    padding: 0;
    margin: 0;
    font-weight: 400;
  }

  h1{
    font-size: $h1-size;
    font-family: $Manrope-font;
    
  }

  h2{
    font-size: $h2-size;
    font-family: $Manrope-font;
    margin-bottom: 1rem;
    
  }

  h3{
    font-family: $Dot16-font;
    font-size: $h3-size;
    margin-bottom: 0.5rem;
    opacity: .65;
  }

  h4{
    font-family: $Dot16-font;
    font-size: $p-medium;
  }

  h5{
    font-family: $Dot16-font;
    font-size: $p-small;
    opacity: .65;
  }

  p, li{
    font-family: $Manrope-font;
  }

  a, span{
    font-family: $Dot16-font;
    
  }

  p{
    font-size: $p-medium;
    letter-spacing: .25px;
  }

  li{
    font-size: $p-big;
  }

  a{
    text-decoration: none;
    color: $black;
    &:hover{
      color: #1D1D1D;
      text-decoration-line: underline;
      transition: all .3s ease-in;
    }
  }



  .footer, .header{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    width: calc(100% - 8rem);
    position: fixed;
    background-color: #F1F1F15D;
    z-index: 3;
    color: #1d1d1aaf;

    a{
      color: #1d1d1aaf ;
      &:hover{
        color: #1D1D1D;
      }
    }
    

    span{
      font-size: $p-small;
    }
    
    .logo_container{
      position: absolute;
      left: calc(50vw - (90px / 2));
      img{
        width: 25px;
        height: 25px;
      }
    }
    @media screen and (max-width: 600px){
      padding: 0 2rem;
    }
    &.footer__container-sticky{
      position: sticky;
      padding: 0 0 0 2rem;
      background-color: $white;
      bottom: 10px;
      left: 120px;
      min-height:40px;
      width: calc(100vw - 240px - 2rem);
      z-index: 2;
      border-radius: 50px;
      outline: 1.8px solid #323242D1;
      border: none;
      box-shadow: 1px 1px 4px 0px #00000032;
      @media screen and (max-width: 900px){
        left: 20px;
        width: calc(100vw - 40px - 2rem);
        font-size: $p-small;
        ul{
          li{
            font-size: $p-small;
            height: 45px;
            vertical-align: middle;
            
            
          }
          
        }
        
        
      }
    }
      
  }

  .external-link{
    padding: 0.75rem 2rem;
    border-radius: 50px;
    outline: 1.5px solid #323242D1;
    display: flex;
    align-items: center;
    &::after{
      content: ' ';
      display: block;
      align-self: baseline;
      margin-left: 0.75rem;
      width: 24px;
      aspect-ratio: 1/1;
      background-image: url("/icon/external-link.svg");
      background-repeat: no-repeat;
    }
    &:hover{
      background-color: #1d1d1d08;
      transition: background-color .3s ease-out;
      color: #1D1D1D;
    }
  }

  .header{
    border-bottom: 1px solid $black;
    top: 0;
    @media screen and (max-width: 900px){
      width: calc(100vw - 40px - 2rem);
      flex-direction: column;
      gap: 24px;
      justify-content: center;
    }
    li:nth-child(2){
      @media screen and (max-width: 900px){
        margin-top: 12px;
      }
    }
  }

  .footer{
    border-top: 1px solid $black;
    bottom: 0;
    &__container-sticky{
      min-height: 40px;
      li{
        &:last-child{
          margin-right: 2rem;
        }
      }
    }
    @media screen and (max-width: 900px){
      gap: 2.5rem;
      justify-content: center;
      width: calc(100vw - 40px - 2rem);
    }
  }

