


/// FONT FAMILY 

$Manrope-font: "Manrope", sans-serif;
$Dot16-font: "DotGothic16", sans-serif;

/// FONT SIZE

$h1-size: 4rem;
$h2-size: 2rem;
$h3-size: 1rem;

$p-big: 1.125rem;
$p-medium: 1rem;
$p-small: 0.875rem;


/// COLORS

$black: #323242;
$white: #F4F4F5;
$accent-background-green: #DFFF85;

/// MARGIN

$container-margin-L: 4rem 60px;
$container-margin-S: 4rem 28px;

