@import 'project_gallery';
@import 'detail_page';
@import 'config';

body {
    margin: 0 auto;
    padding: 0;
    font-family: sans-serif;
    height: 100vh;
    width: 100vw;
    
    color: $black;
  }

  h1, h2, h3, h4, h5, h6, p, li, ul, ol{
    padding: 0;
    margin: 0;
    font-weight: 400;
  }

  h1{
    font-size: $h1-size;
    font-family: $title-font;
    
  }

  h2{
    font-size: $h2-size;
    font-family: $title-font;
    margin-bottom: 1rem;
    
  }

  h3{
    font-family: $title-font;
    font-size: $h3-size;
    margin-bottom: 0.5rem;
    opacity: .65;
  }

  h4{
    font-family: $corps-font;
    font-size: $p-medium;
  }

  h5{
    font-family: $corps-font;
    font-size: $p-small;
    opacity: .65;
  }

  p, li{
    font-family: $corps-font;
    
  }

  p{
    font-size: $p-small;
    letter-spacing: 1.25px;
  }

  li{
    font-size: $p-big;
  }

  a{
    text-decoration: none;
    color: $black;
  }

  .footer, .header{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    .logo_container{
      position: absolute;
      left: calc(50vw - (90px / 2));
      img{
        width: 25px;
        height: 25px;
      }
    }
    @media screen and (max-width: 600px){
      padding: 0 2rem;
    }
    &.footer__container-sticky{
      position: sticky;
      padding: 0 0 0 2rem;
      background-color: $white;
      bottom: 10px;
      left: 120px;
      width: calc(100vw - 240px - 2rem);
      z-index: 2;
      border-radius: 50px;
      outline: 1.8px solid #323242D1;
      border: none;
      box-shadow: 1px 1px 4px 0px #00000032;
      @media screen and (max-width: 900px){
        left: 20px;
        width: calc(100vw - 40px - 2rem);
        font-size: $p-small;
        li{
          font-size: $p-small;
          height: 45px;
          vertical-align: middle;
        }
      }
    }
      
  }

  .external-link{
    padding: 0.75rem 2rem;
    border-radius: 50px;
    outline: 1.5px solid #323242D1;
    display: flex;
    align-items: center;
    &::after{
      content: ' ';
      display: block;
      align-self: baseline;
      margin-left: 0.75rem;
      width: 24px;
      aspect-ratio: 1/1;
      background-image: url("/icon/external-link.svg");
      background-repeat: no-repeat;
    }
  }

  .header{
    border-bottom: 1px solid $black;
  }

  .footer{
    border-top: 1px solid $black;
    position: fixed;
    bottom: 0;
    width: calc(100% - 8rem);
  }

  
