

/// FONT FAMILY 

$Manrope-font: "Manrope", sans-serif;
$Dot16-font: "DotGothic16", sans-serif;

/// FONT SIZE

$h1-size: 4rem;
$h2-size: 2rem;
$h3-size: 1rem;

$p-big: 1.125rem;
$p-medium: 1rem;
$p-small: 0.875rem;


/// COLORS

$black: #323242;
$white: #F4F4F5;
$accent-background-green: #DFFF85;

/// MARGIN

$container-margin-L: 4rem 60px;
$container-margin-S: 4rem 28px;




body {
    margin: 0 auto;
    padding: 0;
    font-family: sans-serif;
    height: 100vh;
    width: 100vw;
    background-color: #f1f1f1;
    color: $black;
  }

  h1, h2, h3, h4, h5, h6, p, li, ul, ol{
    padding: 0;
    margin: 0;
    font-weight: 400;
  }

  h1{
    font-size: $h1-size;
    font-family: $Manrope-font;
    
  }

  h2{
    font-size: $h2-size;
    font-family: $Manrope-font;
    margin-bottom: 1rem;
    
  }

  h3{
    font-family: $Dot16-font;
    font-size: $h3-size;
    margin-bottom: 0.5rem;
    opacity: .65;
  }

  h4{
    font-family: $Dot16-font;
    font-size: $p-medium;
  }

  h5{
    font-family: $Dot16-font;
    font-size: $p-small;
    opacity: .65;
  }

  p, li{
    font-family: $Manrope-font;
  }

  a, span{
    font-family: $Dot16-font;
    
  }

  p{
    font-size: $p-medium;
    letter-spacing: .25px;
  }

  li{
    font-size: $p-big;
  }

  a{
    text-decoration: none;
    color: $black;
  }

  .footer, .header{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    
    span{
      font-size: $p-small;
    }
    
    .logo_container{
      position: absolute;
      left: calc(50vw - (90px / 2));
      img{
        width: 25px;
        height: 25px;
      }
    }
    @media screen and (max-width: 600px){
      padding: 0 2rem;
    }
    &.footer__container-sticky{
      position: sticky;
      padding: 0 0 0 2rem;
      background-color: $white;
      bottom: 10px;
      left: 120px;
      width: calc(100vw - 240px - 2rem);
      z-index: 2;
      border-radius: 50px;
      outline: 1.8px solid #323242D1;
      border: none;
      box-shadow: 1px 1px 4px 0px #00000032;
      @media screen and (max-width: 900px){
        left: 20px;
        width: calc(100vw - 40px - 2rem);
        font-size: $p-small;
        li{
          font-size: $p-small;
          height: 45px;
          vertical-align: middle;
        }
      }
    }
      
  }

  .external-link{
    padding: 0.75rem 2rem;
    border-radius: 50px;
    outline: 1.5px solid #323242D1;
    display: flex;
    align-items: center;
    &::after{
      content: ' ';
      display: block;
      align-self: baseline;
      margin-left: 0.75rem;
      width: 24px;
      aspect-ratio: 1/1;
      background-image: url("/icon/external-link.svg");
      background-repeat: no-repeat;
    }
  }

  .header{
    border-bottom: 1px solid $black;
  }

  .footer{
    border-top: 1px solid $black;
    position: fixed;
    bottom: 0;
    width: calc(100% - 8rem);
  }

  
/// PROJECT GALLERY



ul{
  list-style: none;
}

img{
  min-width: 70px;
  min-height: 70px;
  @media screen and (max-width: 900px) {
    min-width: 65px;
    min-height: 65px;
  }
}

section:nth-child(2), section:nth-child(6){
  margin-top: 6rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title{
    padding: 0 25%;
    ul{
      display: flex;
      justify-content: center;
      gap: 32px;
      font-size: 0.75rem;
    }
    
  }

  .external-link{
    margin: 2rem 0;
  }
  
  .cover_image{
    aspect-ratio: 16/9;
    width: 50%;
    z-index: 2;
    img{
      object-fit: cover;
      width: 100%;
    }
  }
  .problem__container{
    margin-top: -2rem;
    z-index: 0;
    background-color: #DFFF85;
    padding: 4rem 0;
    font-size: $p-medium;
    min-width: 100vw;
    & > h3, & > p{
      padding: 0 25%;
    }
  }


  
}

section:nth-child(3),section:nth-child(4),section:nth-child(5), section:nth-child(6){
  margin: 10rem 60px;
}

.think_container{
  display: flex;
  
  div{
    width: 50%;
    h2{
      margin-bottom: 3rem;
    }
    li{
      padding: 1rem 0.5rem;
      border-bottom: solid 1px $black;
    }
    .solutions::before, .pains::before{
      content: '';
      width: 20px;
      padding: 15px;
      display: inline;
      background-image: url('/icon/check.svg');
      background-position: center;
      background-repeat: no-repeat;
    }

    .solutions::before{
      background-image: url('/icon/check.svg');
    }
    .pains::before{
      background-image: url('/icon/cross.svg');
    }

  }
  @media screen and (max-width: 600px) {
    flex-direction: column;
    div{
      width: 100%;
      margin-top: 20px;
    }
  }
}

.process__wrapper{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: visible;
  gap: 32px;
  .process__item{
    width: 48.5%;
    display: flex;
    flex-direction: column;
  
    .process__text{
      display: flex;
      align-items: center;
      margin-bottom: 2rem;
      gap: 16px;
      .percentage{
        max-width: 70px;
        aspect-ratio: 1/1;
        margin-bottom: 0;
      }
    }
    img{
        width: 100%;
        aspect-ratio: 16/ 10;
        object-fit: cover;
        object-position: center;
        margin-bottom: 4rem;
    }
  }

  @media screen and (max-width: 796px) {
    gap: 32px;
    flex-direction: column;
    .process__item{
      width: 100%;
    }
  }

}

section:nth-child(5){
  h2{
    margin-bottom: 3rem;
  }
}


.gallery__container{
  h4{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 1rem;
  }
  .top {
    display: flex;
    gap: 20px;
    & > div{
        display: block;
    }
    & > :first-child img{
      margin: 1rem 0;
    }
    .center-side div img, .right-side div img{
      width: 100%;
      aspect-ratio: 16/9;
    }

    .right-side{
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 0.25rem;
    }

    .center-side {
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1rem;
    }

    .left-side{
      width: 10%;
      div{
        display: flex;
        flex-direction: column;
        @media screen and (max-width: 600px) {
          flex-direction: row;
          gap: 20px;
        }
      }
    }
    @media screen and (max-width: 600px) {
      flex-direction: column;
    }
  }
  .bottom {
    display: flex;
    gap: 20px;
    .assets-container{
      & > div{
        display: flex;
        img{
          aspect-ratio: 9/16 !important;
          width: 25%;
        }
      }
    }
      
  }
}

section:nth-child(6){
  padding: 2rem 0;
  background-color: #DFFF85;
  ul{
    width: 50%;
  }
  li{
    padding: 0.5rem;
    text-align: left;
  }
}

.btn-next{
  padding: 1rem 0;
  margin: 2rem 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px $black;
  img{
    width: 20px !important;
    height: 20px !important;
  }
}



///// DETAIL PAGE

.project_wrapper{
  height: 80vh;
  display: flex;
  overflow: hidden;
  gap: 20px;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(0%, -30%);
  &__container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 300px;
    height: 100%;
    h2{
      margin-bottom: 0.2rem;
    }
    .img-wrapper{
      object-fit: cover;
      object-position: 90% 50%;
      aspect-ratio: 1/1;
    }
  }
  &__tag-container, &__date-container{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    h3{
      width: max-content;
    }
    
  }

}

