
ul{
  list-style: none;
}

img{
  min-width: 70px;
  min-height: 70px;
  @media screen and (max-width: 900px) {
    min-width: 65px;
    min-height: 65px;
  }
}

.section-1, section:nth-child(6){
  margin-top: 6rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

    .title{
      padding: 0 25%;
      ul{
        display: flex;
        justify-content: center;
        gap: 32px;
        font-size: 0.75rem;
      }
      
    }
}

  .section-1{
    .external-link{
      margin: 2rem 0;
    }
    
    .cover_image{
      aspect-ratio: 16/9;
      width: 50%;
      z-index: 2;
      img{
        object-fit: cover;
        width: 100%;
      }
    }
    .problem__container{
      margin-top: -2rem;
      z-index: 0;
      background-color: #DFFF85;
      padding: 4rem 0;
      font-size: $p-medium;
      min-width: 100vw;
      & > h3, & > p{
        padding: 0 25%;
        @media screen and (max-width: 900px) {
          padding: 0 10%;
        }
      }
  }
  
}

section:nth-child(3),section:nth-child(4),section:nth-child(5), section:nth-child(6){
  margin: 10rem 60px;
  @media screen and (max-width: 900px) {
    margin: 10rem 45px;
  }
}

.think_container{
  display: flex;
  
  div{
    width: 50%;
    h2{
      margin-bottom: 3rem;
    }
    li{
      padding: 1rem 0.5rem;
      border-bottom: solid 1px $black;
    }
    .solutions::before, .pains::before{
      content: '';
      width: 20px;
      padding: 15px;
      display: inline;
      background-image: url('/icon/check.svg');
      background-position: center;
      background-repeat: no-repeat;
    }

    .solutions::before{
      background-image: url('/icon/check.svg');
    }
    .pains::before{
      background-image: url('/icon/cross.svg');
    }

  }
  @media screen and (max-width: 600px) {
    flex-direction: column;
    div{
      width: 100%;
      margin-top: 20px;
    }
  }
}

.process__wrapper{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: visible;
  gap: 32px;

  .process__item{
    width: 48.5%;
    display: flex;
    flex-direction: column;

    img{
      width: 100%;
      aspect-ratio: 16/ 10;
      object-fit: cover;
      object-position: center;
      margin-bottom: 4rem;
    }
    .process__text{
      display: flex;
      align-items: center;
      margin-bottom: 2rem;
      gap: 16px;

      .percentage{
        max-width: 70px;
        aspect-ratio: 1/1;
        margin-bottom: 0;
      }
    }
    
  }

  @media screen and (max-width: 1200px) {
    gap: 32px;
    flex-direction: column;
    .process__item{
      width: 100%;
    }
  }

}

section:nth-child(5){
  h2{
    margin-bottom: 3rem;
  }
}


.gallery__container{
  h4{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 1rem;
  }
  .top {
    display: flex;
    gap: 20px;
    & > div{
        display: block;
    }
    & > :first-child img{
      margin: 1rem 0;
    }
    .center-side div img, .right-side div img{
      width: 100%;
      aspect-ratio: 16/9;
    }

    .right-side{
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 0.25rem;
    }

    .center-side {
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1rem;
    }

    .left-side{
      width: 10%;
      div{
        display: flex;
        flex-direction: column;
        @media screen and (max-width: 600px) {
          flex-direction: row;
          gap: 20px;
        }
      }
    }
    @media screen and (max-width: 900px) {
      flex-direction: column;
      .center-side, .right-side{
        width: 100%;
      }
      .left-side{
        div{
          flex-direction: row;
          gap: 1rem;
          img{
            min-width: 50px;
            min-height: 50px;
          }
          
        }
      }
    }
  }
  .bottom {
    display: flex;
    gap: 20px;
    .assets-container{
      & > div{
        display: flex;
        img{
          aspect-ratio: 9/16 !important;
          width: 25%;
        }
      }
    }
      
  }
}

section:nth-child(6){
  padding: 2rem 0;
  background-color: #DFFF85;
  ul{
    width: 50%;
    @media screen and (max-width: 900px) {
      width: 85%;
    }
  }
  li{
    padding: 0.5rem;
    text-align: left;
  }
}

.btn-next{
  padding: 1rem 0;
  margin: 2rem 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px $black;
  img{
    width: 20px !important;
    height: 20px !important;
  }
}


