{{ if eq .Params.footer_version "sticky" }}
    <ul class="footer footer__container-sticky">
        <li><span><a href="https://www.linkedin.com/in/auriane-mirana-sicard-razaka-8a925a175/"><u>Linkedin</u></a></span></li>
        <li><span>Email - auriane1103@gmail.com</span></li>
        <li><span>Phone - 07.49.43.02.36</span></li>
        {{ if .Params.externalLink }}
            <a href="{{ .Params.externalLink }}" target="blank" class="external-link">OPEN THE PROJECT</a>
        {{ end }}
    </ul>
{{ else }}
    <ul class="footer footer__container">
        <li><span><a href="https://www.linkedin.com/in/auriane-mirana-sicard-razaka-8a925a175/"><u>Linkedin</u></a></span></li>
        <li><span>Email - auriane1103@gmail.com</span></li>
        {{/*  <li><span>Phone - 07.49.43.02.36</span></li>  */}}
    </ul>
{{ end }} 